fastapi
uvicorn
langchain
langchain-community
openai
pinecone
urllib3
requests
httpx
pydantic
python-dotenv
llama-index
pytest
python-multipart
loguru
pydantic_settings
redis
email-validator
scikit-learn